
<div class="product-container">

  {% assign product = {{ all_products['miracle-therapy-straightening-kit'] }} %}
  
  {% for prod in product %}
    <p>SWAG: {{ prod }} </p>
  {% endfor %}

  <div class="product-kit">
    <a href="https://eurestistoredemo.myshopify.com/products/miracle-therapy-straightening-kit">   
      <img src="{{ 'product-kit-colorful.png' | asset_url }}" alt="product kit" />
    </a>
  </div>
  <div class="product-video">
    <iframe src="https://www.youtube.com/embed/PhCfBYOk4Sk"></iframe>
  </div>
  <div class="before-after">
    <img src="{{ 'before-after.png' | asset_url }}" alt="before and after product use" />
  </div>
  <div class="product-description">
    <a href="https://eurestistoredemo.myshopify.com/products/miracle-therapy-straightening-kit">   
      <h1> Miracle Therapy </h1>
      <h2> $180 </h2>
    </a>
    <h2>
      Protein-Infused Smoothing: Elevating and Restoring
      Hair Fiber Excellence!
    </h2>
    <p>Introducing Prohall MiracleTherapy Straightening Kit: Elevate your hair
    elegance with this trio of transformative essentials.</p>
    <p>Our exclusive kit includes the MiracleTherapy Pre-Treatment Shampoo, 
    Miracle Straightening Treatment, and Miracle Finishing Spray. Prepare 
    with the Miracle Therapy Straightening Pre-Treatment Shampoo 16oz, 
    enriched with antioxidants for deep cleansing without compromising 
    strands.</p>
    <p>Experience the pinnacle of sleekness through the Miracle Therapy 
    Straightening Treatment 16oz. Our Eave System® technology aligns strands, 
    ensuring a disciplined, sealed cuticle for flawless straightness.</p>
    <p>Conclude with MiracleTherapy Finishing Spray 10 oz. Neutralizing radicals 
    and promotes pH balancing, hydrates, repairs, and enhances softness, 
    delivering an unmatched straightened radiance. Discover the art of 
    professional Protein hair straightening with the Miracle Therapy 
    Straightening Kit—where elegance meets transformation.</p>

    <div class="purchase-contact">
      <a href="https://eurestistoredemo.myshopify.com/products/miracle-therapy-straightening-kit">   
        <button id="buy">
          Go to product page
        </button>
      </a>
      <div class="contact">
        <p><b><i>Phone:</b></i> 786-256-1582<br>
        <b><i>Whatsapp:</b></i> +1 (305) 922-3770 </p>
      </div>
    </div>

  </div>
</div>

<div class="bg-color-gray">
  <div class="infographics">
    <p>BENEFITS</p>
    <p>INDICATIONS AND SPECIFICATIONS</p>
    <img src= "{{ 'product-benefits.jpg' | asset_url }}" alt="product-benefits" />
    <img src="{{ 'product-instructions.jpg' | asset_url }}" alt="product-instructions" />
  </div>
</div>

<div class="kit-display">
  <div class="kd-item">
    <img src="{{ 'shampoo.jpg' | asset_url }}" alt="shampoo" />
    <p>Get a deep and thorough cleansing without any damage with our Miracle 
      Therapy Kit! Our exclusive formula removes all accumulated residues from 
      your hair strands, preparing them perfectly for the ideal treatment. Say 
      goodbye to dry and dull hair and hello to intense hydration, softness, 
      and luminosity, all while protecting your strands from harmful radicals. 
      Get your hands on our professional-grade hair care solution today and 
      experience the difference in healthy hair growth!</p>
  </div>
  <div class="kd-item">
    <img src="{{ 'treatment.jpg' | asset_url }}" alt="treatment" />
    <p>The advanced hair straighten technology in our hair transformation 
      formula combines a complex mixture of long chain fatty acids, eave system,
      jojoba ester, and capsicum extract to achieve stunning and long-lasting 
      results. This revolutionary formula eliminates frizz and transforms hair 
      into beautiful, silky-smooth straighten strands from the roots to the 
      tips.</p>
  </div>
  <div class="kd-item">
    <img src="{{ 'spray.jpg' | asset_url }}" alt="spray-finisher" />
    <p>Our Miracle Therapy Finishing Spray 300ml is an effective solution that 
      neutralizes free radicals, balances pH levels of the hair, and assists in
       aligning cuticles. Its potent assets aid in moisturizing and balancing 
       the hair's pH, filling fissures, preventing breakage, and recovering 
       damaged parts. It enhances hair hydration and softness.</p>
  </div>
</div>

{% style %}

  h1, h2, h3, p {
    font-family: Arial;
  }

  h1 {
    font-size: 50px;
  }

  .product-kit { grid-area: productKit; }
  .product-kit img {
    width: 80%;
    border-radius: 10px;  
  }
  .product-video { grid-area: productVideo; }
  .product-video iframe {
    width: 30vw;
    height: 35vh;
    min-width: 500px;
    max-width: 500px;
    border: none;
  }
  .before-after { grid-area: beforeAfter; }
  .before-after img {
    border-radius: 10px;
    width: 85%;
  }
  .product-description { grid-area: productDesc; }
  .product-description p {
    font-size: 18px;
  }
  .product-description a {
    text-decoration: none;
    color: black;
  }

  .product-container {
    display: grid;

    width: 70%;
    margin: auto;
    max-width: 800px;

    grid-template-areas:
      'productKit productDesc'
      'productVideo productDesc'
      'beforeAfter productDesc';

    justify-content: center;

    grid-row-gap: 25px;
    grid-column-gap: 38px;

    padding: 70px;
    padding-bottom: 0;
  }

  .purchase-contact {
    display: grid;
    grid-template-rows: 60px 40px;
    grid-row-gap: 10px;

    justify-content: center;
  }

  #buy {
    width: 40vw;
    height: 56px;

    max-width: 400px;

    font-size: 23px;
    font-weight: bold;
    color: white;

    background-color: #2fca90;
    border: 1px solid #f0edf1;
    border-radius: 45px;

    text-shadow: -2px 2px black;
  }

  #buy:hover {
    cursor: pointer;
  }

  .contact {
    text-align: center;
  }

  .contact p {
    font-size: 14px;
    margin: 0;
  }

  .bg-color-gray {
    background-color: #f1f4f8;
  }

  .infographics {
    display: grid;
    width: 50%;
    min-width: 800px;
    margin: auto;

    padding: 70px 0;

    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 30px auto;

    grid-column-gap: 50px;
    grid-row-gap: 25px;
  }

  .infographics img {
    border-radius: 10px;
    width: 100%;
    max-width: 370px;
  }

  .infographics p {
    font-weight: bold;
    font-size: 16px;
  }

  .kit-display {
    display: grid;

    grid-template-columns: repeat(3, 30vw);
    grid-column-gap: 26px;

    justify-content: center;

    height: auto;
    min-height: 350px;
    max-height: 650px;
    margin: 70px 0;

  }

  .kd-item {
    background-color: #f1f4f8;
    display: grid;

    min-height: inherit;
    max-height: inherit;

    box-sizing: border-box;
    padding: 30px;    

    grid-template-rows: auto 50vh;
    min-width: 275px;
    max-width: 380px;

    justify-content: center;
    align-content: normal;
  
    grid-row-gap: 5px;
  }

  .kd-item p {
    color: black;
    font-size: 17px;
    max-width: 320px;
  }

  .kd-item img { 
    width: 25vw;
    border-radius: 10px;
    max-width: 320px;
  }

{% endstyle %}