
<div class="container">
    <div class="left-column">
        <div>
            <img class="mkit" src="{{'miracle-kit.PNG' | asset_url}}"/>
        </div>
        <div>
            <img class="mbox" src="{{'miracle-box.PNG' | asset_url}}"/>
        </div>
    </div>
    <div class="right-column">
        <div class="product-title">
            <h1> {{ product.title }} </h1>
        </div>
        <div class="button">
            {% if product.available %}
                <form action="{{ routes.cart_url }}" method="post">
                    <input id="buy" type="submit" name="checkout" value="Checkout">
                </form>
            {% endif %}
        </div>
        <div class="price-available">
            <h3>{{ product.price | money }}</h3>

            {% if product.available %}
                <p> Product in Stock </p>
            {% else %}
                <p> Product Unavailable </p>
            {% endif %}
        </div>
        <div class="desc">
            {{ product.description }}
        </div>
        
    </div>
</div>
{% style %} 

.mbox { grid-area: mBox; width: auto; }

.mkit { grid-area: mKit; width: 85%; max-width: 452px; } 

.button { display: grid; justify-content: center; }

.product-title {
    font-size: 27px;
}

.price-available {
    font-size: 22px;
    font-style: italic;
}

.desc {
    font-family: Arial;
    font-size: 20px;
}

.container {
    display: grid;
    grid-template-columns: 45vw 33vw;
    grid-column-gap: 18px;
    justify-content: center;
    margin: 10vw 0;
}

.right-column {
    width: inherit;
    display: grid;
    justify-content: center;
}

#buy {
    width: 22vw;
    height: 46px;

    font-size: 23px;
    font-weight: bold;
    color: white;

    background-color: #2fca90;
    border: 1px solid #f0edf1;
    border-radius: 45px;
    
    text-shadow: -2px 2px black;
  }

#buy:hover {
    cursor: pointer;
}


.left-column {
    max-width: 600px;

    display: grid;
    grid-template-rows: auto auto;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 850px) {
    .container {
        display: block;
    }

    .right-column {
        display: block;
        width: 70%;
        margin: auto;
    }

    .product-title {
        text-align: center;
    }

    .left-column {
        margin: auto;
    }
}

{% endstyle %}